<template>
  <div class="home">
    <div class="halo"></div>

    <c-header></c-header>

    <div class="content">
      <el-row :gutter="16">
        <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
          <el-row :gutter="16">
            <el-col :xs="24" :sm="8" :md="24" :lg="24" :xl="24">
              <RingData></RingData>
              <div class="space-line"></div>
            </el-col>
            <el-col :xs="24" :sm="8" :md="24" :lg="24" :xl="24">
              <ExData></ExData>
              <div class="space-line"></div>
            </el-col>
            <el-col :xs="24" :sm="8" :md="24" :lg="24" :xl="24">
              <RadarData></RadarData>
            </el-col>
          </el-row>
        </el-col>
        <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
          <count-up></count-up>
          <div>
            <Map></Map>
          </div>
          <div class="light-circle"></div>
        </el-col>
        <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
          <el-row :gutter="16">
            <el-col
              :xs="24"
              :sm="12"
              :md="24"
              :lg="24"
              :xl="24"
              style="position: relative"
            >
              <HIntervalData></HIntervalData>
              <div class="space-line"></div>
            </el-col>
            <el-col :xs="24" :sm="12" :md="24" :lg="24" :xl="24">
              <RankData></RankData>
            </el-col>
          </el-row>
        </el-col>
      </el-row>
    </div>
  </div>
</template>
<script>
// import $serv from '@/libs/fetch'
import {
  CountUp,
  RingData,
  RadarData,
  HIntervalData,
  RankData,
  ExData,
  CHeader,
  Map,
} from '@/components'

export default {
  name: 'Home',
  components: {
    CountUp,
    RingData,
    RadarData,
    HIntervalData,
    RankData,
    ExData,
    CHeader,
    Map,
  },
  data() {
    return {
      dv: {},
    }
  },
  methods: {
    async _getData() {
      // const res = await $serv('http://test')
      // this.dv = {}
    },
  },
  created() {
    this._getData()
  },
}
</script>
<style lang="less">
.home {
  min-height: 1200px;
  box-sizing: border-box;
  padding: 0 32px;
  background: #040a19;
  background: -webkit-linear-gradient(to bottom, #111b48, #040a19);
  background: linear-gradient(to bottom, #111b48, #040a19);

  .halo {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 25%;
    right: 25%;
    height: 300px;
    background: url('../assets/halo.png') no-repeat center 27%;
  }

  .light-circle {
    display: none;
    position: absolute;
    z-index: 1;
    bottom: -16px;
    left: 20%;
    right: 20%;
    height: 200px;
    opacity: 0.2;
    transform: scale(0.7);
    background: url(../assets/circle.png) no-repeat bottom center / contain;
  }

  .content {
    z-index: 10;
    .space-line {
      margin: 36px 0;
      height: 1px;
      background: #212736;
    }
  }
}

@media (min-width: 768px) {
  .home .halo,
  .home .light-circle {
    display: block;
  }
}
</style>
