<template>
  <div class="cm-header">
    <span class="title"><span>数据屏</span> </span>
    <div class="tools">
      <span class="btn-i">
        <i class="el-icon-refresh"></i>
      </span>
      <span class="btn-i full" @click="exFullScreen">
        <i class="el-icon-full-screen"></i>
      </span>
      <span class="btn-i date">
        <div class="time">{{ time }}</div>
        <div class="date">{{ date }}</div>
      </span>
    </div>
  </div>
</template>
<script>
import { formatDate } from '@/libs/util'
export default {
  name: 'CHeader',
  data() {
    return {
      full: false,
      time: '',
      date: '',
    }
  },
  methods: {
    updateTime: function updateTime() {
      this.timer = setInterval(() => {
        const date = formatDate(new Date()).split(' ')
        this.date = date[0]
        this.time = date[1]
      }, 999)
    },

    exFullScreen() {
      this.full ? this.exitScreen() : this.fullScreen()
      this.full = !this.full
    },

    fullScreen() {
      const el = document.documentElement
      const rfs =
        el.requestFullScreen ||
        el.webkitRequestFullScreen ||
        el.mozRequestFullScreen ||
        el.msRequestFullscreen
      if (typeof rfs != 'undefined' && rfs) {
        rfs.call(el)
      }
      return
    },

    exitScreen() {
      if (document.exitFullscreen) {
        document.exitFullscreen()
      } else if (document.mozCancelFullScreen) {
        document.mozCancelFullScreen()
      } else if (document.webkitCancelFullScreen) {
        document.webkitCancelFullScreen()
      } else if (document.msExitFullscreen) {
        document.msExitFullscreen()
      }
    },
  },
  created() {
    this.updateTime()
  },
  beforeDestroy() {
    clearInterval(this.timer)
    this.timer = null
  },
}
</script>
<style lang="less">
.cm-header {
  display: flex;
  overflow: hidden;
  padding: 16px 0 48px 0;
  align-items: center;

  .title {
    width: 100%;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
  }
  .tools {
    width: 300px;
    display: flex;
    align-items: center;

    .btn-i {
      flex: 1;
      position: relative;
      display: inline-block;
      text-align: center;
      cursor: pointer;

      &.full {
        display: none;
      }

      &.date {
        flex: none;
        flex-shrink: 0;
        width: 128px;
      }

      i {
        font-size: 20px;
      }

      &::before {
        position: absolute;
        right: 0;
        top: 5px;
        content: '';
        height: 11px;
        width: 1px;
        background: #5b699a;
      }

      &:last-child::before {
        display: none;
      }

      .time {
        color: #eee;
        font-size: 14px;
      }
      .date {
        color: #999;
        font-size: 11px;
      }
    }
  }
}

// sm
@media (min-width: 768px) {
  .cm-header .tools .btn-i.full {
    display: block;
  }
}
</style>
