<template>
  <div class="cm-count-up">
    <ICountUp class="numbers total-num" :delay="500" :endVal="value" />
  </div>
</template>
<script>
import ICountUp from 'vue-countup-v2'
import { random } from '@/libs/util'

export default {
  name: 'CountUp',
  components: {
    ICountUp,
  },
  data() {
    return {
      value: 27183785,
    }
  },
  methods: {
    updateVal() {
      this.timer = setInterval(() => {
        this.value += random(10, 500)
      }, 999 * 8)
    },
  },
  created() {
    this.updateVal()
  },
  beforeDestroy() {
    clearInterval(this.timer)
    this.timer = null
  },
}
</script>
<style lang="less">
.cm-count-up {
  text-align: center;

  .total-num {
    background: linear-gradient(to bottom, #81befa, #0a153d);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 60px;
    margin: 0;
    padding: 0;
  }
}

// sm
@media (min-width: 768px) {
  .cm-count-up .numbers.total-num {
    font-size: 70px;
  }
}

// md
@media (min-width: 992px) {
  .cm-count-up .numbers.total-num {
    font-size: 75px;
  }
}

// lg
@media (min-width: 1200px) {
  .cm-count-up .numbers.total-num {
    font-size: 105px;
  }
}
</style>
