<template>
  <span class="cm-title">
    <i :class="icon" :style="{ color: iconColor }"></i>
    <span>{{ title }}</span>
  </span>
</template>
<script>
export default {
  name: 'CTitle',
  props: {
    title: { type: String, default: '标题' },
    icon: { type: String, default: 'el-icon-s-help' },
    iconColor: { type: String, default: '#fff' },
  },
}
</script>
<style lang="less">
.cm-title {
  font-size: 15px;
  font-weight: bold;

  i {
    position: relative;
    font-size: 18px;
    top: 1px;
  }

  span {
    margin-left: 8px;
  }
}
</style>
