<template>
  <div class="data-wall">
    <div class="title-box">
      <c-title
        title="绘图本流转数据"
        icon="el-icon-share"
        icon-color="#4595FB"
      ></c-title>
    </div>

    <div class="data-box">
      <div class="data-item" v-for="v in list" :key="v.id">
        <div class="label">{{ v.name }}</div>
        <div :class="['value', v.color]">
          <ICountUp class="numbers" :delay="500" :endVal="v.value" />
          <span class="tip">本/h</span>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CTitle from './CTitle'
import ICountUp from 'vue-countup-v2'

export default {
  name: 'ExData',
  components: { CTitle, ICountUp },
  data() {
    return {
      list: [
        {
          id: 1,
          name: '江苏省',
          value: 289578,
          color: 'blue',
        },
        {
          id: 2,
          name: '胡兰省',
          value: 47832,
          color: 'green',
        },
      ],
    }
  },
}
</script>
<style lang="less">
.data-wall {
  .data-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    .data-item {
      width: 50%;
      flex: 1;
      text-align: center;
      .label {
        font-size: 13px;
        font-weight: 400;
      }
      .value {
        font-size: 30px;

        &.green {
          color: #78eeb9;
        }

        &.blue {
          color: #1eb7ed;
        }

        .tip {
          font-size: 13px;
          margin-left: 8px;
        }
      }
    }
  }
}
</style>
