<template>
  <div class="h-interval-data">
    <div class="title-box">
      <c-title
        title="阅读读物分类比重"
        icon="el-icon-s-operation"
        icon-color="#00F0F8"
      ></c-title>
    </div>

    <div ref="chart"></div>
  </div>
</template>
<script>
import G2 from '@antv/g2'
import CTitle from './CTitle'

export default {
  name: 'HIntervalData',
  components: { CTitle },
  data() {
    return {
      chart: null,
      list: [
        {
          type: '教育',
          value: 367,
        },
        {
          type: 'IT',
          value: 491,
        },
        {
          type: '管理',
          value: 672,
        },
        {
          type: '卫生',
          value: 868,
        },
        {
          type: '金融',
          value: 1234,
        },
      ],
    }
  },
  methods: {
    initChart() {
      this.chart = new G2.Chart({
        container: this.$refs.chart,
        forceFit: true,
        height: 200,
        padding: [20, 50, 16, 40],
      })
      this.chart.source(this.list)
      this.chart.axis('type', {
        label: {
          textStyle: {
            fill: '#ababab',
            fontSize: 12,
          },
        },
        tickLine: {
          alignWithLabel: false,
          length: 0,
        },
        line: {
          lineWidth: 0,
        },
      })
      this.chart.axis('value', false)
      this.chart.legend(false)
      this.chart.coord().transpose()
      this.chart
        .interval()
        .position('type*value')
        .size(6)
        .opacity(1)
        .label('value', {
          textStyle: {
            fill: '#999',
          },
          offset: 10,
        })
      this.chart.render()
    },
  },
  mounted() {
    this.initChart()
  },
}
</script>
<style lang="less">
.h-interval-data {
}
</style>
