<template>
  <div class="cm-map">
    <div class="map" ref="geomap"></div>
  </div>
</template>
<script>
import GeoMap from '../class/map'

export default {
  name: 'Map',
  data: function() {
    return {
      map: null,
    }
  },
  mounted() {
    this.map = new GeoMap(this.$refs.geomap)
    this.map.init()
  },
}
</script>
<style lang="less">
.cm-map {
  .map {
    overflow: hidden;
  }
}
</style>
