<template>
  <div class="radar-data">
    <div class="title-box">
      <c-title
        title="今日阅读分类比例"
        icon="el-icon-user-solid"
        icon-color="#00F0F8"
      ></c-title>
    </div>

    <div ref="chart"></div>
  </div>
</template>
<script>
import G2 from '@antv/g2'
import DataSet from '@antv/data-set'
import CTitle from './CTitle'

export default {
  name: 'RadarData',
  components: { CTitle },
  data() {
    return {
      chart: null,
      list: [
        {
          item: 'Design',
          a: 70,
          b: 30,
        },
        {
          item: 'Marketing',
          a: 50,
          b: 60,
        },
        {
          item: 'Test',
          a: 60,
          b: 70,
        },
        {
          item: 'Sales',
          a: 60,
          b: 40,
        },
        {
          item: 'UX',
          a: 50,
          b: 60,
        },
      ],
    }
  },
  methods: {
    initChart() {
      let DataView = DataSet.DataView

      // view
      let dv = new DataView().source(this.list)
      dv.transform({
        type: 'fold',
        fields: ['a', 'b'],
        key: 'user',
        value: 'score',
      })
      this.chart = new G2.Chart({
        container: this.$refs.chart,
        forceFit: true,
        height: 280,
        padding: [30, 'auto', 'auto', 'auto'],
      })

      this.chart.source(dv, {
        score: {
          min: 0,
          max: 80,
        },
      })
      this.chart.coord('polar', {
        radius: 0.8,
      })
      this.chart.axis('item', {
        line: null,
        tickLine: null,
        label: {
          textStyle: {
            fill: '#ababab',
          },
        },
        grid: {
          lineStyle: {
            lineDash: null,
          },
          hideFirstLine: false,
        },
      })
      this.chart.axis('score', false)
      this.chart.legend(false)
      this.chart
        .line()
        .position('item*score')
        .color('user')
        .size(2)
      this.chart
        .point()
        .position('item*score')
        .color('user')
        .shape('circle')
        .size(4)
        .style({
          stroke: '#fff',
          lineWidth: 1,
          fillOpacity: 1,
        })
      this.chart
        .area()
        .position('item*score')
        .color('user')
      this.chart.render()
    },
  },
  mounted() {
    this.initChart()
  },
}
</script>
<style lang="less">
.radar-data {
}
</style>
