<template>
  <div class="rank-list">
    <div class="title-box">
      <c-title
        title="阅读时间排行榜"
        icon="el-icon-s-flag"
        icon-color="#4595FB"
      ></c-title>
    </div>

    <div class="data-box">
      <div class="items" v-for="(v, i) in list" :key="v.id">
        <div class="item" style="max-width: 30px">{{ i + 1 }}</div>
        <div class="item" style="max-width: 70px">
          <span class="tag">{{ v.tag }}</span>
        </div>
        <div class="item">{{ v.name }}</div>
        <div class="item">{{ v.views }}次</div>
        <div class="item" style="max-width: 70px">{{ v.price }}</div>
      </div>
    </div>
  </div>
</template>
<script>
import CTitle from './CTitle'

export default {
  name: 'RankData',
  components: { CTitle },
  data() {
    return {
      list: [
        {
          id: 2342,
          tag: '金融',
          name: '浸提访问',
          views: 23423654,
          price: '$23.45',
        },
        {
          id: 2352,
          tag: '少儿',
          name: '工位号未付费',
          views: 334234,
          price: '$65.00',
        },
        {
          id: 2343,
          tag: '故事',
          name: '敢为各国挖',
          views: 323521,
          price: '$10.55',
        },
        {
          id: 2344,
          tag: '科普',
          name: '前雾灯前二个',
          views: 124234,
          price: '$52.00',
        },
        {
          id: 2382,
          tag: '金融',
          name: '爱过我',
          views: 12234,
          price: '$52.00',
        },
        { id: 2391, tag: '知识', name: '尕伟哥', views: 1234, price: '$52.00' },
      ],
    }
  },
}
</script>
<style lang="less">
.rank-list {
  .data-box {
    padding-top: 24px;
    .items {
      display: flex;
      align-items: center;
      padding: 12px 0;

      &:nth-child(-n + 3) {
        .item {
          color: #fff;

          &:nth-child(1) {
            color: #fcc08f;
          }

          .tag {
            background: #fcc08f;
          }
        }
      }

      .item {
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 13px;
        color: #ccc;

        &:nth-child(1) {
          color: #5895e6;
        }

        .tag {
          display: inline-block;
          padding: 2px 8px;
          background: #5895e6;
          color: #000;
          font-size: 12px;
          border-radius: 3px;
        }
      }
    }
  }
}
</style>
