<template>
  <div class="ring-data">
    <div class="title-box">
      <c-title
        title="今日阅读量"
        icon="el-icon-s-opportunity"
        icon-color="#00F0F8"
      ></c-title>
    </div>

    <div ref="chart"></div>
  </div>
</template>
<script>
import G2 from '@antv/g2'
import CTitle from './CTitle'

export default {
  name: 'RingData',
  components: { CTitle },
  data() {
    return {
      chart: null,
      list: [
        {
          type: '男性',
          value: 56.4,
        },
        {
          type: '女性',
          value: 43.6,
        },
        {
          type: 'XF',
          value: 10.3,
        },
      ],
    }
  },
  methods: {
    initChart() {
      this.chart = new G2.Chart({
        container: this.$refs.chart,
        forceFit: true,
        height: 150,
        padding: 'auto',
      })
      this.chart.source(this.list)
      this.chart.legend(false)
      this.chart.facet('rect', {
        fields: ['type'],
        padding: 16,
        showTitle: false,
        eachView(view, facet) {
          let data = facet.data
          let color = void 0

          switch (data[0].type) {
            case '男性':
              color = '#198FFF'
              break
            case '女性':
              color = '#2ec161'
              break
            default:
              color = '#FF354B'
              break
          }

          data.push({
            type: '其他',
            value: 100 - data[0].value,
          })
          view.source(data)
          view.coord('theta', {
            radius: 0.9,
            innerRadius: 0.85,
          })
          view
            .intervalStack()
            .position('value')
            .color('type', [color, '#222854'])
            .opacity(1)
          view.guide().html({
            position: ['50%', '50%'],
            html:
              '<div class="ring-chart-text"><div class="value">' +
              (data[0].value + '%') +
              '</div><div class="title">' +
              data[0].type +
              '</div></div>',
          })
        },
      })
      this.chart.render()
    },
  },
  mounted() {
    this.initChart()
  },
}
</script>
<style lang="less">
.ring-data {
  .ring-chart-text {
    width: 50px;
    height: 50px;
    text-align: center;

    .title {
      margin-top: 48px;
      font-size: 12px;
      color: #ababab;
      font-weight: 400;
    }

    .value {
      margin-top: 12px;
      font-size: 16px;
      color: #fff;
      font-weight: bold;
    }
  }
}
</style>
