<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="less">
@font-face {
  font-family: 'number-webfont';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_j79du7fnc0l.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_j79du7fnc0l.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('//at.alicdn.com/t/webfont_j79du7fnc0l.woff2')
      format('woff2'),
    url('//at.alicdn.com/t/webfont_j79du7fnc0l.woff') format('woff'),
    /* chrome、firefox */ url('//at.alicdn.com/t/webfont_j79du7fnc0l.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('//at.alicdn.com/t/webfont_j79du7fnc0l.svg#站酷小薇体') format('svg'); /* iOS 4.1- */
}

html,
body,
#app {
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: #1890ff;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}

#app {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC,
    Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

.numbers {
  font-family: 'number-webfont';
}
</style>
